/data
/venv
/plots
/outputs

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# Git
*.swp
